In [26]:
import pandas as pd
import numpy as np
import os
import cv2
from tqdm import tqdm

In [27]:
data_path = 'dataset/'
train_data = pd.read_csv(data_path + 'train.csv')

In [28]:
labels = train_data['label'].copy()

In [29]:
train_data = train_data.drop('label', axis=1)

In [30]:
train_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#converting to 2d array of 28x28
train_data_2d = train_data.values.reshape(-1,28,28,)

In [32]:
#save each row as a png file on corresponding label folder

#create train folder if not exists
if not os.path.exists('dataset/train'):
    os.makedirs('dataset/train')

for i in tqdm(range(len(train_data_2d))):
    if not os.path.exists('dataset/train/' + str(labels[i])):
        os.makedirs('dataset/train/' + str(labels[i]))
    cv2.imwrite('dataset/train/' + str(labels[i]) + '/' + f"train_{str(i)}" + '.png', train_data_2d[i])

100%|██████████| 60000/60000 [00:43<00:00, 1366.27it/s]

In [34]:
test_data = pd.read_csv(data_path + 'test.csv')
test_data.head()

,id,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
#drop id column
test_data = test_data.drop('id', axis=1)

In [36]:
test_data_2d = test_data.values.reshape(-1,28,28,)

In [39]:
#create test folder if not exists
if not os.path.exists('dataset/test'):
    os.makedirs('dataset/test')

for i in tqdm(range(len(test_data_2d))):
    cv2.imwrite('dataset/test/' + str(i) + '.png', test_data_2d[i])

100%|██████████| 5000/5000 [00:03<00:00, 1386.30it/s]

In [40]:
test_data.tail(1)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0